<div id="title">
  <h1>{{title}}</h1>
  <h2>{{subtitle}}</h2>
  <p>{{email}}</p>
</div>

<article class="about">
  <h2>Sobre mí</h2>
  <p>
    Centro de estudios: IES Castelar<br>
    Fecha de titulacion: 2021
  </p>
  <h4>Conocimientos</h4><br>
  <ul>
    <li>Java, JavaFX, Hibernate, Inicios en Spring</li>
    <li>Angular,NodeJS,MongoDB</li>
    <li>JavaScript/TypeScript</li>
    <li>ASP NET y NET CORE + Angular</li>
    <li>PHP e Inicios en Laravel</li>
    <li>Conocimientos de manejo de bases de datos como MongoDB, H2, y sobre todo MySQL</li>
    <li>Un poco de Python</li>
    <li>Android</li>
  </ul><br>
  <h4>Actitudes</h4><br>
  <ul>
    <li>Actitud positiva</li>
    <li>Trabajador</li>
    <li>Dominio del Inglés</li>
    <li>Trabajador en equipo cooperativo</li>
    <li>Puntualidad y formalidad</li>
    <li>Motivación para el aprendizaje</li>
    <li>No conflictivo en relaciones</li>
  </ul><br>

  <h4>Experiencia laboral</h4>
  <p>Actualmente sin experiencia laboral pero tengo muchas ganas<br>
  ¿Por qué no das el paso y me ofreces empleo?
  </p>

</article>
