
<header>
  <ul>
    <li><a [routerLink]="['/sobre-mi']" [routerLinkActive]="['actived']">Sobre mi</a></li>
    <li><a [routerLink]="['/proyectos']" [routerLinkActive]="['actived']">Proyectos</a></li>
    <li id="logo"><a href="#">JJ</a></li>
    <li><a [routerLink]="['/crear-proyecto']" [routerLinkActive]="['actived']">Crear proyecto</a></li>
    <li><a [routerLink]="['/contacto']" [routerLinkActive]="['actived']">Contacto</a></li>
  </ul>
</header>

<section id="content">
  <router-outlet></router-outlet>
</section>

<footer>

  <div class="icons">

    Portafolio realizado con

    <div class="img">
    <img src="../assets/icons/icono-mongo.png">
    <img src="../assets/icons/icono-express.png">
    <img src="../assets/icons/icono-angular.webp">
    <img src="../assets/icons/icono-nodejs.png">
    </div>
    José Javier Acosta Blasco ©
  </div>

</footer>
